.flex-grow-container{
display:flex;
background-color:#27ae60;
padding:10px;
margin-bottom:20px;
}
.flex-shrink-container{
display:flex;
width:350px;
background-color:#16a085;
padding:10px;
margin-bottom:20px;
}
.flex-basis-container{
display:flex;
background-color:#8e44ad;
padding:10px;
margin-bottom:20px;
}
.flex-align-order{
display:flex;
background-color:#3498db;
padding:20px;
margin-bottom:20px;
height:150px;
}
.flex-item{
background-color:white;
padding:15px;
margin:5px;
color:#2c3e50;
text-align:center;
border-radius:5px;
flex:1 1 100px;
}
.item1{flex-grow:2;}
.item2{flex-grow:1;}
.item3{flex-grow:1;}
.home-btn{
display:inline-block;
margin:20px;
padding:10px 15px;
background-color:#3498db;
color:white;
text-decoration:none;
}