.float-img{
float:left;
margin:10px;
}
.image-text{
overflow:auto;
}
.col2{
width:50%;
float:left;
padding:20px;
box-sizing:border-box;
}
.left{
background-color:#1abc9c;
}
.right{
background-color:#16a085;
}
.col3{
width:33.33%;
float:left;
padding:20px;
box-sizing:border-box;
background-color:#3498db;
}
.clearfix::after{
content:"";
display:block;
clear:both;
}
.home-btn{
display:inline-block;
margin:20px;
padding:10px 15px;
background-color:#1abc9c;
color:white;
text-decoration:none;
}