body{
font-family: Arial;
}
.color-box,
.image-box,
.position-box,
.attachment-box{
width:200px;
height:200px;
margin:20px;
padding:10px;
border:2px solid black;
display:inline-block;
background-position:center;
background-size:cover;
color:white;
}
.color-box{
background-color: lightblue;
color:black;
}
.image-box{
background-image:url("image1.jpg");
background-repeat:repeat;
background-size:100px;
}
.position-box{
background-image:url("image2.jpg");
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.attachment-box{
background-image:url("image3.jpg");
background-repeat:no-repeat;
background-position:center;
background-size:cover;
background-attachment:scroll;
}